@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');
body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    background-image: url(https://wallpapers.com/images/hd/dark-purple-background-diapiasnn6owzm1k.jpg);
    font-family: 'Tauri',sans-serif;
  }
  
  .container {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .message {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px 0;
  }
  h2{
    color: white;
  }
  label{
    color: white;
  }
  .message.sender {
    background-color: #e4cbf7; 
  }
  
  .message.receiver {
    background-color: #fff; 
  }
  
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
  input[type=text] {
    width: calc(100% - 85px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 70px; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #514caf;
    color: white;
    cursor: pointer;
  }
  

    input[type=submit]:hover {
    background-color: #7d45a0;
    }

    div {
    border-radius: 5px;
    background-color: #f2f2f200;
    padding: 20px;
    }
    @media only screen and (max-width: 600px) {
        body {
          padding: 0 10px;
        }
      
        .container {
          padding: 8px 12px;
        }
      
        input[type=text] {
          width: calc(100% - 65px);
        }
      
        input[type=submit] {
          width: 60px;
        }
      }
      